@mixin sombras($valor){
  -webkit-box-shadow: $valor;
    -moz-box-shadow: $valor;
      box-shadow: $valor;
      elevation:2;
}
@mixin btn-default(){
  .btn-outline-warning{
    border-color: $color-0;
    color: $color-0;
  }
  .btn-outline-warning:hover{
    i{
      color: $bg-color-2;
    }
    color: $bg-color-2;
    background-color: $color-0;
    border-color: $color-0;
  }
}
@mixin margen-fix{
  margin-top: -15px;
  margin-left: -15px;
  margin-right: -15px;
}
