.Modal-Login{
  @media screen and (max-width: $break-small){
  @include margen-fix;
  }
}
.Modal-Buscar{
  @media screen and (max-width: $break-small){
  @include margen-fix;
  }
  .modal-body{
    height: 250px;
    background-color: $bg-color;
  }
  .input-group{
    margin-top: 96px;
  }
}
.modal-header{
  color:$color-0;
  background-color: $bg-color;
  h4{
    font:100% $fuente-poppins;
    font-weight: bold;
  }
}
.modal-body{
  @media screen and (max-width: $break-small){
    padding-left: 24px;
    padding-right: 24px;
    img{
      height: 64px;
      margin-bottom: 16px;
    }
  }
  @media screen and (min-width: $break-large){
    padding-left: 48px;
    padding-right: 48px;
    img{
      height: 96px;
      margin-bottom: 24px;
    }
  }
  .buttons-modal{
    @include btn-default;
  }
}
.alert{
  display: none;
}
.modal-content{
  @include sombras( 0px 2px 10px -4px );
  border: none;
  outline: none;
}
